body {
  font-family: "IBM Plex Serif", serif;
  margin: 0 auto;
  line-height: 2em;
  padding: 12px;
  box-sizing: border-box;
  color: #333;
  overflow: auto;
  background: #dcf4c2; /* fallback for old browsers */
  background: linear-gradient(
    to right top,
    #fde3b0,
    #edecb6,
    #dcf4c2,
    #ccfad3,
    #bfffe6
  );
}

body,
html {
  height: 100%;
}

.wrapper {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  background: inherit;
}

a {
  text-decoration: none;
  color: #333;
  border-bottom: 3px solid #ffffff;
}
a:hover {
  color: #fff;
  transition: all 0.3s ease;
}
p {
  font-weight: 400;
  font-size: 20px;
}

.name {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-size: 45px;
  text-transform: lowercase;
  font-weight: 700;
  color: #2f4858;
  display: block;
  top: 10%;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  padding: 80px 12px 0px;
  overflow: hidden;
}

article {
  padding: 60px;
  display: inline-block;
  position: relative;
}
hr {
  border-bottom: 3px solid #fff;
}

.meta {
  text-transform: uppercase;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.15em;
}
.meta a:hover {
  color: #fff;
  transition: all 0.3s ease;
}

.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.inline-list li {
  display: inline-block;
}

footer .inline-list li {
  margin-right: 20px;
}
footer a {
  color: #333;
  border-bottom: 3px solid #ffffff;
}
footer {
  margin: 0 auto;
  position: relative;
  bottom: 20px;
  padding: 40px 0 0 0;
}

@media screen and (max-width: 600px) {
  #footer {
    width: auto;
  }
  .inline-list li {
    display: block;
  }
  p {
    font-size: 2.5em;
    line-height: 1.5em;
  }
  .meta {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}
